@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4p2jo2');
    src:  url('fonts/icomoon.eot?4p2jo2#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?4p2jo2') format('truetype'),
      url('fonts/icomoon.woff?4p2jo2') format('woff'),
      url('fonts/icomoon.svg?4p2jo2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cart:before {
    content: "\e93a";
  }
  

#IconoCarrito{
    margin-left: 10px;
    color: aliceblue;
    text-decoration: none;
}

nav{
    background-color: #181A1B;
    color: white !important;
}

header{
    margin-left: 30px !important;
}
/* Tags espesificos */

.navbar-brand {
    color: var(--darkreader-text--bs-navbar-brand-color);
    margin-left: 10px !important;
}

.navbar{
    --bs-navbar-brand-hover-color: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--darkreader-text--bs-navbar-active-color);
}

.nav-link:focus, .nav-link:hover {
    color: var(--darkreader-text--bs-nav-link-hover-color);
}

.nav-link {
    color: var(--darkreader-text--bs-nav-link-color);
    text-decoration-color: initial;
    background-image: initial;
    background-color: initial;
    border-color: initial;
}

#MargenLogin{
    margin-left: 10px !important;
}

@media screen and (max-width: 992px) {
    #MargenLogin{
        margin-left: 0px !important;
    }
    
}