<nav class="navbar navbar-expand-lg ">
    <header class="container-fluid">
      <img width="30" height="30" src="../assets/GifterLogo.png" alt="Logo de Gifter">
      <a class="navbar-brand" href="#">Gifter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Regalos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Comidas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Flores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Joyeria</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Ropa</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Otros</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Ej. Flores" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <ul class="navbar-nav" *ngIf="!this.AuthService.isAuthenticated()">
          <li id="MargenLogin" class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registro</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="this.AuthService.isAuthenticated()">
          <li id="MargenLogin" class="nav-item">
            <p>{{this.AuthService.userName}}</p>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="this.logout()">Cerrar sesión</button>
          </li>
        </ul>

      </div>
    </header>
  </nav>
