<app-nav></app-nav>

<main>
  <div id="frase1" class="container-fluid">
    <p>Mas de 100 empresas asociadas</p>
  </div>
  <div id="slogan" class="container-fluid">
    <p>Sorpresas que llegan a su puerta, <strong id="parteSlogan">¡justo a tiempo!</strong></p>
  </div>
  <div id="fraseEmpresa" class="container-fluid">
    <p>"Somos la puerta a la emoción, la conexión perfecta entre corazones a través de regalos inolvidables."</p>
  </div>
  <div id="btns" class="container-fluid">
    <a id="btnAllGift" class="btn btn-primary" routerLink="/seccion-regalos/">Todos los regalos</a>
    <a href="#" class="btn btn-primary" id="btnTopGift">Mas populares</a>
  </div>
  <div class="container">
    <div id="TituloTablaRegalos" class="row">
      <div class="col-md-10 mb-4 mb-md-0 col-lg-4 col-xl-4 offset-md-1">
        <p id="gifts">Regalos</p>
      </div>
    </div>
    <div id="contenedorCategoriasImg" class="row">
      <div id="tablacategorias" class="col-sm-3 col-md-3 mb-4 mb-md-0 col-lg-2 col-xl-2 offset-md-1">
        <a class="btn btn-primary" routerLink="/seccion-regalos/food">Comida</a>
        <a class="btn btn-primary" routerLink="/seccion-regalos/flowers">Flores</a>
        <a class="btn btn-primary" routerLink="/seccion-regalos/jewelry">Joyeria</a>
        <a class="btn btn-primary" routerLink="/seccion-regalos/clothes">Ropa</a>
        <a class="btn btn-primary" routerLink="/seccion-regalos/misc">Miselaneos</a>
      </div>
      <div class="col-sm-8 col-md-8 mb-2 mb-md-0 col-lg-7 col-xl-7">
        <img id="imgEntregaRegalo" src="https://us.123rf.com/450wm/paintingcat/paintingcat2212/paintingcat221200702/195434048-pintura-digital-de-santa-claus-montando-en-moto.jpg?ver=6" alt="Imagen de una persona entregando un regalo en moto">
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
