<app-nav></app-nav>

<main>
    <div id="categorias" class="container-fluid">
        <a class="btn btn-primary" href="#">Comida</a>
        <a class="btn btn-primary" href="#">Flores</a>
        <a class="btn btn-primary" href="#">Joyeria</a>
        <a class="btn btn-primary" href="#">Ropa</a>
        <a class="btn btn-primary" href="#">Miselaneos</a>
    </div>
    <div>
        <!-- Aqui van los futuros regalos que se agreguen desde el lado de la empresa -->
    </div>
</main>

<app-footer></app-footer>