<app-nav></app-nav>

<main>
    <div id="categorias" class="container-fluid">
        <a class="btn btn-primary" [routerLink]="['/seccion-regalos/food']">Comida</a>
        <a class="btn btn-primary" [routerLink]="['/seccion-regalos/flowers']">Flores</a>
        <a class="btn btn-primary" [routerLink]="['/seccion-regalos/jewelry']">Joyeria</a>
        <a class="btn btn-primary" [routerLink]="['/seccion-regalos/clothes']">Ropa</a>
        <a class="btn btn-primary" [routerLink]="['/seccion-regalos/misc']">Miselaneos</a>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</main>

<app-footer></app-footer>
