<div id="ResumenCarrito">
    <h3 class="titulo">Resumen de pedidos</h3>
    <table id="tablaresumenes" class="table">
        <thead>
            <tr>
                <th scope="col">Id:</th>
                <th scope="col">Fecha:</th>
                <th scope="col">Description:</th>
                <th scope="col">Estado:</th>
                <th scope="col">Acciones:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2000-01-01</td>
                <td>Prueba</td>
                <td>Probando</td>
                <td>
                    <button class="btn btn-primary" routerLink="1">Ver</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>